{% extends 'todo_list/base.html' %}

{% block header %}
<h1>Task List of {{ username }}</h1>
{% endblock header %}



{% block content %}
<div class="d-flex flex-row mb-3">
    <div class="mx-1">
        <form action="/task/new/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="create new task">
        </form>
    </div>
    <div class="mx-1">
        <form action="/logout/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-secondary" value="logout">
        </form>
    </div>
</div>

{% if tasks %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <table class="table">
            <thead>
                <tr>
                <th scope="col"> </th>
                <th scope="col">Title</th>
                <th scope="col">Current Streak</th>
                <th scope="col">Streak Sum</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            
            <tr>
                {% if task.isDoneToday %}
                <td class="bg-info">
                {% else %}
                <td class="bg-light">
                {% endif %}
                <td>{{ task.title }}</td>
                <td>{{ task.currentStreak }} days</td>
                <td>{{ task.streakSum }} days</td>
                <td>
                    <div class="d-flex flex-row mb-3">
                        <div class="mx-1">
                            <form action="task/done/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ task.id }}">
                                <input type="submit" class="btn btn-primary" value="done">
                            </form>
                        </div>
                        <div class="mx-1">
                            <form action="task/detail/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ task.id }}">
                                <input type="submit" class="btn btn-outline-success" value="detail">
                            </form>
                        </div>
                    </div>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>No task is registered.</p>
{% endif %}






{% endblock content %}
